<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assests/imagenes/favicon.png" type="image/x-icon">
    <title>Aprende y Desarrollate | Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Work+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./styleDetails.css">
  </head>
  <body>
    <div id ="app">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black container-fluid">
          <div class="container-fluid w-100">
            <a class="navbar-brand ms-3 fuentePoppins d-flex justify-content-center align-items-center" href="#">
              <img src="./assests/imagenes/LOGO_7-01-removebg-preview.png" alt="logo" class="imglogo col-md-5 col-8" >
              <h2 class="fuentePoppins">APRENDE Y DESARROLLATE </h2>
            </a>
            <button class="navbar-toggler border-0 bgb px-3 py-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse show" id="navbarSupportedContent">
              <ul class="navbar-nav d-flex  ms-auto">
                  <li class="nav-item navbar-dark bg-black">
                    <a class="nav-link navbar-dark bg-black" aria-current="page" href="./index.html">INICIO</a>
                  </li>
                  <li class="nav-item navbar-dark bg-black">
                    <a class="nav-link navbar-dark bg-black" href="">CONTACTO</a>
                    
                  </li>
                </ul>
            </div>
            
          </div>
        </nav>
      </header>
      <main> 
        <div class="d-flex cupos justify-content-center align-items-center fuentePoppins">
          <h2 class="mt-2 me-4"><strong>ÚLTIMOS 10 CUPOS</strong>  </h2>
          <a href="https://go.hotmart.com/M82448814R?ap=1a5e"><button class="boton-blanco fuentePoppins"><strong>INSCRIBETE AHORA</strong> </button></a>
        </div>
        <div class=" d-flex flex-wrap justify-content-center" >
          <img :src="producto.imagenBanner" class="w-100 banner">
          <h2 class="fuenteAnton text-light titulo-banner" > <strong>{{producto.nombre.toUpperCase()}}</strong> </h2>
          <h1 class="fuentePoppins curso w-100 text-center video"><strong>Mira un adelanto de lo que podrás aprender en nuestro curso</strong> </h1>
          <iframe v-if="producto.nombre=='Curso Cocina Vegana' "class="position-relative video" width="760" height="515" src="https://www.youtube.com/embed/mQ2ElH5_JfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h4 class="fuentePoppins text-light text-center w-75">Si te gustó nuestra Master Class reserva tu cupo al curso completo y recibirás el EBOOK en pdf que contiene todas las recetas + la CERTIFICACIÓN ONLINE de este curso de Cocina Vegana.</h4>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img :src="producto.book " class="book">
          <h1 class="fuentePoppins curso w-100 text-center"><strong>CURSO COMPLETO</strong> </h1>
        </div>
        <div class="d-flex justify-content-center m-4">
          <div class="descripcion fuentePoppins text-light col-6 m-3">
            <p v-if="producto.nombre=='Curso Cocina Vegana' ">
              Conocerás diversas preparaciones del mundo culinario en torno a una de las gastronomías más populares y conscientes de estos últimos años, La cocina vegana.  Vas a aprender con la mejor profesora de origen chileno, Nicole Palominos.  Chef y Profesora, que lleva años buscando las mejores recetas para sus alumnos.
              <br><br>
              Junto a ella podrás vivir, sentir la Cocina vegana más que como una cocina, una filosofía de vida. Nicole te enseñara y traspasara todos sus conocimientos adquiridos a través de los años y su experiencia como chef cocinera especialista en alimentos veganos y basados en plantas.
              <br><br>
              A través de este curso tu profesora te enseñará todo lo que necesitas saber paso a paso, Está pensado para que puedas aprender desde cero y sin mayores dificultades, pero con la entrega de técnicas y herramientas que te servirán para toda la vida no es necesario tener conocimientos previos para cocinar como un verdadero chef.
            </p>
          </div>
          <div class=" col-3 inscribete d-flex fuentePoppins flex-column">
            <div>
              <h4 class="text-center p-3 ahora" ><strong>
                INSCRÍBETE AHORA <br>Promoción por tiempo limitado
              </strong>
              </h4>
            </div>
            <div class="d-flex flex-column p-3 checks">
              <div class="d-flex">
                <img src="./assests/imagenes/checked.png" class="img-check" alt="">
                <p><strong>Pago Único en tu modena local</strong> </p>
              </div>
              <div class="d-flex">
                <img src="./assests/imagenes/checked.png" class="img-check" alt="">
                <p> <strong>Comienza desde hoy</strong></p>
              </div>
              <div class="d-flex">
                <img src="./assests/imagenes/checked.png" class="img-check" alt="">
                <p> <strong>Idioma: Español</strong></p>
              </div>
              <div class="d-flex">
                <img src="./assests/imagenes/checked.png" class="img-check" alt="">
                <p><strong>Garantía de 7 días</strong></p>
              </div>
              <div class="d-flex">
                <img src="./assests/imagenes/checked.png" class="img-check" alt="">
                <p><strong>Certificación al Finalizar</strong></p>
              </div>
            </div>
          </div>
          

        </div>
        <div class="">
          
          <img src="./assests/imagenes/compra.jpg" class="w-100 img-compra" alt="">
          <div  class="compra-ahora">
            <h3 class="bg-yellow p-2 justify-content-center align-items-center align-content-center">
              ¡Inicia ahora tu formación con nosotros! <br>
              ¿Estás listo para aumentar tus conocimientos?
            </h3>
            <h2 class="btn m-0 btn-danger">COMPRAR AHORA</h2>
          </div>
        </div>
        <div class="d-flex justify-content-center m-4">
            <img :src="producto.certificado " class="certificado col-6">
            <div class="col-4 ms-3 fuentePoppins d-flex align-items-center text-light">
              <p  v-if="producto.nombre=='Curso Cocina Vegana' ">Aprede de una escuela con 8 años de experiencia capacitando a cientos de entusiastas alumnos que hoy cocinan junto a sus familias o han levantado respetados emprendimientos.<br><br>
                Se parte de este movimiento y cumple el sueño de formarte como cocinero con nuestros cursos en línea. <br><br>
                No dejes tus sueños para después!</p>
            </div>
        </div>
      <div class="secc-cards" id="secc-cards" >


        


      </div>
      </main>
      
      <footer>
        <div class="mt-5 col-lg-3 d-flex align-items-center justify-content-center fuentePoppins">
          <h4 class="text-center "><strong>NUESTRAS REDES</strong> </h4>
          <ul class="list-unstyled d-flex justify-content-around align-items-center mb-0 text-warning mx-auto redes">
            <a class="link-dark-hover text-muted" href="https://www.instagram.com/adstoreboxes/?hl=en"><img class="img-redes" src="./assests/imagenes/instagram.png" alt=""></a>
            <a class="link-dark-hover text-muted" href="https://www.facebook.com/adstoreboxes/"><img  class="img-redes"src="./assests/imagenes/facebook.png" alt=""></a>
            <a class="link-dark-hover text-muted" href="https://web.whatsapp.com/"><img class="img-redes" src="./assests/imagenes/whatsapp.png" alt=""></a>
          </ul>
      </div>
      </footer>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="./script/details.js"></script>
  </body>
</html>