* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imglogo{
    width: 80px;

}
body{
    background-color: black;
}
.banner{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.fuenteAnton{
    font-family: 'Anton', sans-serif;
}
.fuentePoppins{
    font-family: 'Poppins', sans-serif;
}
.titulo-banner{
    font-size: 5rem;
    position: absolute;
    top: 32vh; 
    left: 52vh;
}
.video{
    position: relative;
    top: -50px;
}
.book{
    width: 90vh;
}
footer{
    background-image: linear-gradient(#eaeaea00, #e1edee00),
    url("./assests/imagenes/FONDO.jpg");
    background-size: cover;
}
.img-redes{
    width: 30px;
    margin: 5px;
}
.curso{
    background-image: linear-gradient(#eaeaea00, #e1edee00),
    url("./assests/imagenes/FONDO.jpg");
    background-size: cover;
}
.descripcion{
    text-align: justify;
    font-size: 1rem;
}
.inscribete{
    border: 1px solid wheat;
    border-radius: 20px;
}
.ahora{
    border-top-right-radius: 21px; 
    border-top-left-radius: 21px;
    background-image: linear-gradient(#eaeaea00, #e1edee00),
    url("./assests/imagenes/FONDO.jpg");
    background-size: cover
}
.img-check{
    width: 25px;
    height: 25px;
    margin: 8px;
}
.checks{
    background-color: white;
    border-bottom-right-radius: 21px; 
    border-bottom-left-radius: 21px;
    height: 100%;
}
.certificado{
    width: 90vh;
    height: 50vh;
}
.img-compra{
    height: 40vh;
    display: flex;
    flex-direction: column;
    filter: grayscale(30%);
}
.cupos{
    background-color: red;
    position: sticky;
    top: 20px;
}
.boton-blanco{
    background-color: white;
    border-radius: 10px;
    padding: 6px;
    border: 1px solid white;
}