* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.imglogo{
    width: 100px;
}
body{
    background-image: linear-gradient(#eaeaea00, #e1edee00),
    url("./assests/imagenes/FONDO.jpg");
    background-size: cover;
}
.img-producto{
    width: 300px;
}
.descripcion{
    text-align: justify;
}
.input-busqueda{
    font-weight:300;
}
.img-redes{
    width: 15px;
    margin: 5px;
}