* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.imglogo{
    width: 100px;
}
body{
    background-image: linear-gradient(#eaeaea00, #e1edee00),
    url("./assests/imagenes/FONDO.jpg");
    background-size: cover;
}
.btn-primary {
    --bs-btn-bg: transparent !important;
    --bs-btn-border-color: transparent !important;
    --bs-btn-hover-color: none !important;
    margin: 0 2rem !important;
    text-decoration: none !important;
    padding: 4px 6px !important;
    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: #f7ba24 !important;
    --bs-btn-active-border-color: #f7ba24 !important;
}
.img-producto{
    width: 300px;
}
.descripcion{
    text-align: justify;
}
.input-busqueda{
    font-weight:300;
}
.img-redes{
    width: 7px;
    margin: 5px;
}